@use '../abstracts/mixins' as *;
@use '../base/root' as *;

.btn {
    display: block;
    border-radius: 0;
    border: none;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    touch-action: manipulation;
    font-weight: 700;
    text-align: center;
    &:hover,
    &:focus {
        color: #333;
        text-decoration: none;
    }

    &-primary {
        background-color: var(--color-gold);
        width: 100%;
        display: block;
        color: #333;
        &:hover,
        &:focus {
            background-color: var(--dark-gold);
            border-color: var(--dark-gold);
        }
    }
    &-lg {
        font-weight: 700;
        padding: 1.125em 2.5em;

        @include mq(lg) {
            font-size: 1rem;
        }
    }

    &-sm {
        font-weight: 700;
        padding: 10px 0;
        max-width: 20ch;
        @include mq(lg) {
            font-size: 1rem;
            min-width: 20ch;
        }
    }

    &-secondary {
        color: #8c8881;
        background-color: #e9e5dd;
        border: 1px solid #e9e5dd;

        &:hover {
            background-color: #d5cdbe;
            border: 1px solid #e9e5dd;
            color: #333;
        }
    }

    &-account {
        padding: 10px;
        margin-top: 3rem;

        @include mq(lg) {
            margin-top: 0;
            font-size: 1.125rem;
        }
    }
    &-register {
        padding: 10px 0;
        margin-left: auto;
        max-width: 10ch;

        @include mq(lg) {
            font-size: 1.125rem;
        }
    }

    &-success {
        padding: 10px;
        color: var(--white);
        background-color: #5cb85c;

        &:hover {
            color: var(--white);
            background-color: #449d44;
            border-color: #398439;
        }
    }

    &-shop {
        padding: 10px;
        width: max-content;
    }

    &-load {
        max-width: 13ch;
        padding: 10px;
        margin: 0 auto;
    }
}
