@use '../base/root' as *;
@use '../abstracts/mixins' as *;
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.header {
    font-family: 'Raleway', sans-serif;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.33);
    width: 100%;
    z-index: 1000;
}
.section {
    height: calc(100vh - 3rem);
    width: 100%;
}
.container-navbar {
    max-width: 65rem;
    padding: 1rem 2rem;
    margin: 0 auto;
    display: flex;
    position: relative;
}

//// navigation ////
.logo-container {
    flex: 1;
    display: flex;
    align-items: center;
}

.nav {
    flex: 4;
    display: flex;
    margin-left: 10rem;
}

.nav-links {
    flex: 2;
}
.nav-links > ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item {
    position: relative;
    text-transform: uppercase;
}
.nav-link {
    font-weight: 700;
    line-height: 3rem;
    color: #fff;
    padding: 0 0.8rem;
    letter-spacing: 1px;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    // @include mq(xxl) {
    //     font-size: 15px;
    // }
    i {
        margin-left: 0.3rem;
    }

    &:hover {
        color: #f9c56a;
    }
}
// card button
.btn-nav {
    border-radius: 0;
    border: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    padding: 10px 15px;
}
.btn-primary-nav {
    background-color: #f9c56f;
    color: #333;
}

.btn-primary-nav:hover {
    background-color: #f7b239;
}

.fa-shopping-cart {
    color: #fff;
}
.fa-shopping-cart:hover {
    color: #f9c56a;
}
.cart-number {
    background: #f9c56f;
    width: 20px;
    height: 20px;
    padding: 3px 6px;
    text-align: center;
    line-height: 17px;
    border-radius: 50%;
    color: black;
    margin-right: 5px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
}
// for shopping icon
.flex-nav {
    font-size: 0.8rem;
    width: 60px;
    display: flex;
}

//// DROPDOWN ////

.dropdown {
    position: absolute;
    top: 93%;
    right: 0;
    width: 14rem;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
}
// for dropdown issues
.dropdown:before {
    content: '';
    width: 100%;
    height: 3rem;
    // border: 2px solid red;
    padding: 1rem 6rem;
}

.dropdown ul {
    position: relative;
}
.dropdown-link {
    position: relative;
}
.dropdown-link > a {
    display: flex;
    background-color: rgb(black, 0.85);
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    color: #fff;
    align-items: center;
    justify-content: space-between;
    transform: all 0.3s;
    text-transform: uppercase;
    font-weight: 700;
}

.dropdown-link:hover > a {
    color: #f9c56f;
}

.dropdown.second {
    top: 0;
    left: 100%;
    cursor: pointer;
}
// activate dropdown menus
.nav-item:hover > .dropdown,
.dropdown-link:hover > .dropdown {
    opacity: 1;
    pointer-events: auto;
}

// utility class
.m-right {
    margin-right: 1.7rem;
}

//// Card ////

.card-item {
    display: flex;
    padding: 0.75rem;
    pointer-events: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    width: 100%;
    position: relative;
    &--image {
        max-width: 100%;
        display: block;
    }

    &--article {
        margin-left: 1rem;
        display: block;
    }

    &--link {
        text-decoration: none;
        color: #fff;
        display: block;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 700;
        font-size: 1rem;
        text-transform: capitalize;
    }

    &--price {
        font-size: 13px;
        color: #c5c5c5;
    }
    &--quantity {
        color: #c5c5c5;
        font-size: 13px;
        position: relative;
        top: 0;
        right: 0;
    }
}

// close icon
.ci-close {
    font-size: 13px;
    color: #555;
    position: absolute;
    top: 8px;
    right: 10px;
    cursor: pointer;
}

.card-title {
    color: #fff;
    text-transform: uppercase;
    padding-left: 1rem;
    padding-bottom: 1rem;
    cursor: pointer;
    pointer-events: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.card-title h4 {
    font-weight: 800;
}

.card-action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 0.5rem;
    // outline: 1px solid red;

    &--price {
        font-size: 22px;
        color: #fff;
    }
}

.flex-nav:hover > .card-item {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

// card dropdown
.dropdown-lg {
    position: absolute;
    top: 280%;
    right: 0;
    border-top: 2px solid #f9c56f;
    width: 18rem;
    background-color: rgba(0, 0, 0, 0.85);
    pointer-events: none;
}
// for dropdown issues
.dropdown-lg:before {
    content: '';
    width: 100%;
    height: 3rem;
    padding: 2rem 10rem;
}

.dropdown-divider {
    margin-bottom: 1rem;
    border: 0.5px solid #999;
}

//// Mobile navigation ////
.hamburger-menu-container {
    flex: 1;
    display: none;
    align-items: center;
    justify-content: flex-end;
}

.hamburger-menu {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bar {
    position: relative;
    width: 1.6rem;
    height: 2px;
    border-radius: 3px;
    background-color: #fff;
    z-index: 999;
    transition: 0.5s;
}

.bar:before {
    position: absolute;
    top: 7px;
    content: '';
    width: inherit;
    height: inherit;
    border-radius: 3px;
    background-color: #fff;
}

.bar::after {
    position: absolute;
    bottom: 7px;
    content: '';
    width: inherit;
    height: inherit;
    border-radius: 3px;
    background-color: #fff;
}

#check {
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: translateY(-50%);
    width: 2.5rem;
    height: 2.5rem;
    z-index: 1000;
    cursor: pointer;
    opacity: 0;
    display: none;
}

#check:checked ~ .hamburger-menu-container .bar {
    background-color: transparent;
}

#check:checked ~ .hamburger-menu-container .bar::before {
    top: 0;
    transform: rotate(-45deg) translateY(0);
}

#check:checked ~ .hamburger-menu-container .bar::after {
    top: 0;
    transform: rotate(45deg) translateY(0);
}

//// media queries ////
@media (max-width: 1000px) {
    .hamburger-menu-container {
        display: flex;
    }

    #check {
        display: block;
    }
    .nav {
        margin: 10px 0;
        position: fixed;
        height: calc(100vh - 3rem);
        top: 3.8rem;
        left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.85);
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        overflow-x: hidden;
        overflow-y: auto;
        transform: translateX(-200%);
        transition: 0.5s;
    }

    #check:checked ~ .nav {
        transform: translateX(0);
    }
    .nav-links {
        flex: initial;
        width: 100%;
    }

    .nav-links > ul {
        flex-direction: column;
    }

    .nav-item {
        width: 100%;
    }

    .nav-link {
        line-height: 1;
        padding: 1rem 1.5rem;
        justify-content: flex-start;
        align-items: center;
    }
    .nav-item > a > i {
        font-size: 1.1rem;
        transition: 0.5s;
        transform: rotate(-90deg);
    }

    // .nav-link--2 {
    //     margin-left: 11px;
    // }
    .m-right {
        margin-right: 0;
    }

    // for shopping icon resizing
    .flex-nav {
        margin-left: 1.5rem;
    }

    .dropdown i {
        font-size: 1rem;
        transition: 0.7s;
    }
    .dropdown.second .dropdown-link > a {
        padding: 1rem 2rem;
    }
    .dropdown,
    .dropdown.second {
        position: initial;
        top: initial;
        left: initial;
        transform: initial;
        opacity: 1;
        pointer-events: auto;
        width: 100%;
        padding: 0;
        display: none;
    }

    // activate dropdown menus
    .nav-item:hover > .dropdown,
    .dropdown-link:hover > .dropdown {
        display: block;
    }
    .nav-item:hover > a > i,
    .dropdown-link:hover > a > i {
        transform: rotate(360deg);
    }

    .dropdown-lg {
        margin-top: 1rem;
    }

    .card-action {
        align-items: center;
        padding-bottom: 3rem;
    }
}

@media (min-width: 1000px) and (max-width: 1300px) {
    .nav {
        margin-left: 1rem;
        flex: 3;
    }
}
